<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Campus Clubs", root_path, id: "logo" %>
    <nav>
      <ul class="nav nav-pilled nav-justified">

        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Your Clubs",   viewSelected_path %></li>
        <li><%= link_to "Request", requests_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Log in", login_path %></li>
        
      </ul>
    </nav>
  </div>
</header>