<tr>
	<td><%= link_to club.name, club %></td>
	<td><%= club.meetTime %>
	@
	<%= club.meetLoc %></td>
	<td>
		<button id='favorite' class = "btn btn-small">
			<% if(club.users.exists?(current_user.id)) %>
			<span  title= "<%= club.id %>"id= 'favorite-span'class="glyphicon glyphicon-star" aria-hidden="true">Favorite</span>
			<% 
		else
			%>
			<span  title= "<%= club.id %>"id= 'favorite-span'class="glyphicon glyphicon-star-empty" aria-hidden="true">Favorite</span>
			<%
		end
		%>
		</button>
	</td>
</tr>