<tr>
	<td><%= link_to club.name, club %></td>
	<td><%= club.meetTime %>
	@
	<%= club.meetLoc %></td>

	<% if logged_in? %>

		<td>
				<button class='favorite' class = "btn btn-small">
					<% if(club.users.exists?(current_user.id)) %>
					<span  title= "<%= club.id %>" class="glyphicon glyphicon-star favorite-span" aria-hidden="true">Favorite</span>
					<% 
				else
					%>
					<span  title= "<%= club.id %>"class="glyphicon glyphicon-star-empty favorite-span" aria-hidden="true">Favorite</span>
					<%
				end
				%>
				</button>
			</td>					

	<% end %>
</tr>