<h1>Edit Club</h1>
<% if logged_in? %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3"> 
			<%= form_for(@club) do |f| %>
			<%= render 'shared/error_messages_club' %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :desc %>
			<%= f.text_field :desc, class: 'form-control' %>

			<%= f.label :meetTime %>
			<%= f.text_field :meetTime, class: 'form-control' %>

			<%= f.label :meetLoc%>
			<%= f.text_field :meetLoc, class: 'form-control' %>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
			<% end %>
		</div>

	</div>
<% else %>
	<h1>Must be logged in to edit clubs</h1>	

<% end %>
