<h1>Edit Current Executive Members</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3"> 
		<%= form_for(@eboard) do |f| %>
			<%= render 'shared/error_messages_eboard' %>

			<%= f.label :president %>
			<%= f.text_field :president, class: 'form-control' %>

			<%= f.label :vice_president %>
			<%= f.text_field :vice_president, class: 'form-control' %>

			<%= f.label :secretary %>
			<%= f.text_field :secretary, class: 'form-control' %>

			<%= f.label :treasurer%>
			<%= f.text_field :treasurer, class: 'form-control' %>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	</div>

</div>
