<h1>Add Executive Member</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">  
	<%= form_for (@eboard) do |f| %>

		<%= f.label :User,'Select the User' %>
		<%= f.select(:user_id, @user_options) %>


		<%= f.label :Position,'Select the Position' %>
		<select name="exec_po_id">
			<%= @execPos.each do |execpo| %>
				<option value="<%= execpo.id %>"><%= execpo.position %></option>
			<% end %>
		</select>

		
		

		<%= f.submit "Add Executive Member", class:"btn btn-primary" %>

	<% end %>

	
	
  </div>
</div>

<!-- TEMPORARILY REPRESENTS AN EBOARD" -->