<div class="row">
  <div class="col-md-6 col-md-offset-3">  
	<%= form_for (@eboard) do |f| %>

		<%= f.label :User,'Select the User' %>
		<%= f.select(:user_id, @user_options) %>

		<%= f.label :Position,'Select the Position' %>
		<%= f.select(:exec_po_id, @execPo_options) %>

		
		<%= f.hidden_field :club_id, :value =>@club_options.id %>

		<%= f.submit "Add Executive Member", class:"btn btn-primary" %>

	<% end %>

	

	
	
  </div>
</div>

<!-- TEMPORARILY REPRESENTS AN EBOARD" -->